version: 1.0.{build}
build_script:
- ps: >-
    dotnet build Sillycore/Sillycore.csproj

    dotnet build Sillycore.Web/Sillycore.Web.csproj
    
    dotnet build Sillycore.AppMetrics/Sillycore.AppMetrics.csproj

    dotnet build Sillycore.NLog/Sillycore.NLog.csproj

    dotnet build Sillycore.EntityFramework/Sillycore.EntityFramework.csproj

    dotnet build Sillycore.RabbitMq/Sillycore.RabbitMq.csproj
    
    dotnet build Sillycore.RestClient/Sillycore.RestClient.csproj

    dotnet build Sillycore.Daemon/Sillycore.Daemon.csproj
after_test:
- ps: >-
    dotnet pack Sillycore/Sillycore.csproj -c Release --include-symbols

    dotnet pack Sillycore.Web/Sillycore.Web.csproj -c Release --include-symbols

    dotnet pack Sillycore.AppMetrics/Sillycore.AppMetrics.csproj -c Release --include-symbols

    dotnet pack Sillycore.NLog/Sillycore.NLog.csproj -c Release --include-symbols

    dotnet pack Sillycore.EntityFramework/Sillycore.EntityFramework.csproj -c Release --include-symbols

    dotnet pack Sillycore.RabbitMq/Sillycore.RabbitMq.csproj -c Release --include-symbols
    
    dotnet pack Sillycore.RestClient/Sillycore.RestClient.csproj -c Release --include-symbols

    dotnet pack Sillycore.Daemon/Sillycore.Daemon.csproj -c Release --include-symbols
artifacts:
- path: Sillycore/bin/Release/*.nupkg
  name: Sillycore
- path: Sillycore.Web/bin/Release/*.nupkg
  name: Sillycore.Web
- path: Sillycore.AppMetrics/bin/Release/*.nupkg
  name: Sillycore.AppMetrics
- path: Sillycore.NLog/bin/Release/*.nupkg
  name: Sillycore.NLog
- path: Sillycore.EntityFramework/bin/Release/*.nupkg
  name: Sillycore.EntityFramework
- path: Sillycore.RabbitMq/bin/Release/*.nupkg
  name: Sillycore.RabbitMq
- path: Sillycore.RestClient/bin/Release/*.nupkg
  name: Sillycore.RestClient
- path: Sillycore.Daemon/bin/Release/*.nupkg
  name: Sillycore.Daemon
deploy:
- provider: NuGet
  api_key:
    secure: HatA8lH7GwAGuVEwLUL8mYA29zB8SD+GfYZv2sowexXoJ9fezoT9F7xlZ7YeT7Eg
  skip_symbols: true